*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

header{
    background:#0f172a;
    color:white;
    padding:20px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;       
    border-radius: 5px;       
    transition: background 0.3s, color 0.3s; 
}

nav a:hover {
    background: #2563eb;      
    color: #fff;              
}

nav a:active {
    background: #1e40af;     
}

.hero{
    height:70vh;
    background:linear-gradient(
        rgba(15,23,42,.8),
        rgba(15,23,42,.8)
    ),
    url("https://images.unsplash.com/photo-1518770660439-4636190af475");
    
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
}

.hero h2{
    font-size:3rem;
}

.hero p{
    margin:20px 0;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:#2563eb;
    color:white;
    cursor:pointer;
    border-radius:8px;
}

.productos{
    padding:60px 10%;
}

.productos h2{
    text-align:center;
    margin-bottom:30px;
}

.contenedor-productos{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    text-align:center;
}

.card img{
    width:100%;
}

.card h3{
    margin:15px 0;
}

.card p{
    margin-bottom:20px;
    color:#2563eb;
    font-weight:bold;
}

.registro{
    padding:60px 10%;
    background:white;
}

.registro h2{
    text-align:center;
    margin-bottom:20px;
}
.btn-productos{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.btn-productos:hover{
    background:#1e40af;
}
.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

form{
    max-width:500px;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:15px;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

form button{
    padding:12px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}
.registro{
    padding:70px 10%;
    background:#eef2ff;
}


.registro-contenedor{
    max-width:550px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}


.registro h2{
    text-align:center;
    color:#0f172a;
    margin-bottom:10px;
}


.registro p{
    text-align:center;
    margin-bottom:25px;
    color:#555;
}


.registro form{
    display:flex;
    flex-direction:column;
    gap:10px;
}


.registro label{
    font-weight:bold;
    color:#0f172a;
}


.registro input{
    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:8px;
}


.registro button{
    margin-top:15px;
    padding:14px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}


.registro button:hover{
    background:#1e40af;
}